<div class="testimonials">
  <h2 class="text-center">Testimonials</h2>

  <div class="row">
    <div class="columns">
      <img src="assets/img/testimonials_image.jpg">
    </div>
    <div class="columns">
      <div class="orbit" role="region" aria-label="Our testimonials" data-orbit>
        <ul class="orbit-container">
          <li class="orbit-slide">
            <blockquote>
              "Amazing, cool, perfect. Thank you!"
              <cite>Peter</cite>
            </blockquote>
          </li>
          <li class="orbit-slide">
            <blockquote>
              "Amazing quality! Well done!"
              <cite>Anna</cite>
            </blockquote>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
